/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* splash */
.main-splash{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

.main-body-splash{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-splash{
    /* z-index: -2; */
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    justify-content: center;

}

.img-splash-container{
    /* z-index: -1;
    position: absolute;  */
    max-width: 500px;
    width: 100%;
}

.img-splash{
    width: 100%;
}
.title-splash{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.button-splash-cont{
    /* z-index: 1; */
    /* position: relative;
    left: 50%; 
    top: 50%; */
    background-color:rgb(255, 255, 255);
    /* max-width: 500px;
    width: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    margin-top: 200px;

}

.button-splash{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    /* border-radius: 10px; */
    background-color: rgb(255, 255, 255);
    /* width: 258px;
    height: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    /* padding: 20px; */
    box-shadow: 0px 0px 1px black;
    border-width: 0px;
    text-decoration: none;
}

.button-splash:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
}
.line-or{
    font-size: 12px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    border-top: 1px solid #e0e0e7;
    height: 1px;
}
.text-or {
    background-color: #fff;
    color: #6d6d78;
    display: inline-block;
    padding: 0 12px;
    position: relative;
    bottom: 8px;
    font-size: 14px;
}

@media (max-width: 768px) {
    [class*="body-splash"] {
        flex-direction: column;
    }
    [class*="button-splash-cont"]{
        margin-top: 20px;
    }
}
